img {
 border: 1px solid #ddd;
  border-radius: 50%;
  padding: 5px;
  width: 150px;
}


/*This style is for the index.html*/
h1 {
    text-shadow: 2px 2px 4px #000000;
}

.services, .vision, .members, h1, a,.header, .footer{
    color: whitesmoke;
}

.header, .footer{
    margin: 20px;
    background-color: black;
}

.flex-container {    
    display: flex;
    margin: 20px;
    flex-direction: row;
    justify-content: center;    
    background-color: gray;
    background-image: url('images/flex_cntnr.jpg');
    
  }

.flex-container > div {
    background-color: od;
    margin: 10px;
    padding: 20px;  
    font-size: 25px;
}
/*style for index.html ends here*/

/*style for members.html*/
 
div.gallery {
    border: 1px solid #ccc;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }
  
  * {
    box-sizing: border-box;
    text-align: center;
  }
  
  .responsive {
      text-align: center;
    padding: 0 20px;
    float: left;
    width: 24.99999%;
    color: black;
  }
  
  @media only screen and (max-width: 700px) {
    .responsive {
      width: 49.99999%;
      margin: 6px 0;
    }
  }
  
  @media only screen and (max-width: 500px) {
    .responsive {
      width: 100%;
    }
  }
  
  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }


